[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
adafruit-circuitpython-rgb-display = "*"
spidev = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.7"
